openapi: 3.0.1
info:
  contact:
    name: ConnexPay
    url: https://docs.connexpay.com
  description: REST API for retrieving reporting data. Currently Daily Accounting
    data only.
  title: ConnexPay Reporting API
  version: v1
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
  x-konfig-has-globally-required-security: true
servers:
- url: https://sandboxreportingapi.connexpay.com
security:
- sec0: []
tags:
- name: Card
- name: PushToCard
- name: MerchantPayees
- name: Sale
- name: Token
- name: Transaction
- name: Addendum
- name: Accounting
- name: Authentication
- name: Void
- name: Return
- name: Funding
- name: Cancellation
- name: Verification
- name: CardIssuance
- name: StatusGroup
- name: ACH
- name: CardIssue
- name: Settlement
- name: Setting
- name: Replay
- name: Funds
- name: Validation
paths:
  /api/v1/token:
    post:
      deprecated: false
      description: "API requests require a combination of assigned user name, password,\
        \ and successfully generated authentication token. The received token is valid\
        \ for 24 hours from issuance and may be used for all requests during its lifespan."
      operationId: Token_issueAuthenticationToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenIssueAuthenticationTokenRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Generate Sales Token Response Example:
                  value: |-
                    {
                        "access_token": "eyJhbGciOiJodHRwO33vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctba3yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJrdW5hbHNjYW5hbHMiLCJyb2xlIjoidXNlciIsIm5iZiI6MTY3NTI4MzE4MiwiZXhwIjoxNjc1MzY5NTgyLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjY0NTgzIiwiYXVkdsiRzVvSU5mblRpS1hkZEtEQ0drcDJRQm9BcThjfgUtEMmYifQ.v5BwSGRB8GKpz_-rTvodQxr_8Cdq7Idx_Aaf3foyp7w",
                        "token_type": "bearer",
                        "expires_in": 86399
                    }
                Generate Purchase Token Response Example:
                  value: |-
                    {
                        "access_token": "eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA1L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhcnJzYW5kYm94dGVzdCIsInJvbGUiOiJ1c2VyIiwiZ2F0ZXdheU1lcmNoYW50R3VpZHMiOiI0MTc0OTc1ZC00ZWI4LTQ1YTEtYTliNS1jZTFiNTk2ZGJjMzUiLCJnYXRld2F5TWVyY2hhbnRHdWlkc0FuZENoaWxkcmVuIjoiNDE3NDk3NWQtNGViOC00NWExLWE5YjUtY2UxYjU5NmRiYzM1IiwiZ2F0ZXdheURldmljZUd1aWRzIjoiNzQ1YmE5YTEtN2YxYi00NzI4LThlM2EtZTRkZmM4NTI2ZGZhIiwibmJmIjoxNjg1OTg2NTkyLCJleHAiOjE2ODYwNzI5OTIsImlzcyI6Imh0dHA6Ly9sb2NhbGhvc3Q6NTMwOTciLCJhdWQiOiJHNW9JTmZuVGlLWGRkS0RDR2twMlFCb0FxOFYxS0QyZiJ9.cnA1aljvC1n6_DLis18pNgF-lzzfyIk30CKqlm1lX3k",
                        "token_type": "bearer",
                        "expires_in": 86399
                    }
              schema:
                $ref: '#/components/schemas/TokenIssueAuthenticationTokenResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TokenIssueAuthenticationToken400Response'
          description: "400"
          x-do-not-generate: true
      summary: Issuing Token
      tags:
      - Token
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location 'https://sandboxpurchaseapi.connexpay.com/api/v1/token'\
            \ \n--header 'Content-Type: application/x-www-form-urlencoded' \n--data-urlencode\
            \ 'grant_type=password' \n--data-urlencode 'username={{username}}' \n\
            --data-urlencode 'password={{password}}'"
          name: GENERATE PURCHASE TOKEN REQUEST EXAMPLE
        samples-languages:
        - curl
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-token
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/sales:
    post:
      deprecated: false
      description: "The Create Sale Endpoint is used by acquiring clients. The Sale\
        \ transaction is used to create a sale for your consumer. You can create a\
        \ credit sale or an ACH sale (ACH sales apply to US Clients only). A credit\
        \ sale will charge a consumer's credit card. The consumer's credit card will\
        \ be authorized immediately when the Sales request is received and will automatically\
        \ settle/batch that same night. In other words, this one Sale request is just\
        \ like running an AuthOnly and a Capture in one request.You can postpone charging\
        \ the consumer's credit card by providing a date in the 'ActivationDate' of\
        \ your request. Doing so will delay the authorization and charge to the consumer's\
        \ credit card until that future date.An ACH sale will create an ACH transaction\
        \ that will debit the consumer's bank account. ACH sales received prior to\
        \ 3:00 PM EST will process overnight. ACH Sales received after 3:00 PM EST\
        \ will process the following night."
      operationId: Sale_createTransaction
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create Credit Card Sale Request Example:
                value:
                  DeviceGuid: "{{Device}}"
                  Amount: 280
                  TenderType: Credit
                  SequenceNumber: "849741"
                  OrderNumber: "159874"
                  SendReceipt: true
                  RiskProcessingOnly: false
                  StatementDescription: Agent Booking 123
                  CustomerId: xt147
                  ConnexPayTransaction:
                    ExpectedPayments: 9
                  RiskData:
                    Name: John Doe
                    Gender: M
                    DateOfBirth: 1993-03-18
                    BillingPhoneNumber: "9177563046"
                    BillingAddress1: 151 E 33rd St
                    BillingAddress2: Second Floor
                    BillingCity: New York
                    BillingState: NY
                    BillingPostalCode: "10016"
                    BillingCountryCode: US
                    Email: johnd@gmail.com
                    ProductType: Flight
                    ProductDesc: Flight from London to New York
                    ProductItem: 784GTWJFK856
                    ProductQuantity: 4
                    ProductPrice: "42400"
                    OrderNumber: 857B2
                    SellerId: AG75597
                    FlightData:
                      Airline: American Airlines
                      DepartureAirport: Gatwick
                      DepartureDate: 2020-06-30
                      DestinationAirport: JFK
                      HoursToDeparture: 5
                      JourneyType: Day
                      Route: Direct
                      RouteByCountry: "UK, USA"
                    FlightPassengers:
                    - Country: USA
                      DateOfBirth: 1990-12-07
                      Id: "89456489"
                      Name: Adam Smith
                    - Country: ARG
                      DateOfBirth: 1995-05-05
                      Id: "74566"
                      Name: John Lock
                    CustomParameters:
                    - Name: ClientSpecific1
                      Value: Traveling
                    - Name: ClientSpecific2
                      Value: wounderful
                  Card:
                    CardNumber: "4716317307520473"
                    CardHolderName: John Doe
                    Cvv2: "999"
                    ExpirationDate: "1912"
                    Customer:
                      FirstName: John
                      LastName: Doe
                      Phone: "9177563007"
                      City: New York
                      State: NY
                      Country: US
                      Email: johnd@gmail.com
                      Address1: 107 7th Av.
                      Address2: ""
                      Zip: "10007"
                      DateOfBirth: 1990-12-07
                      DriverLicenseNumber: "12345678"
                      DriverLicenseState: TX
                      SSN4: "1210"
                  EnhancedData:
                    cardLevel: "2"
                    SaleTax: 5
                    AdditionalTaxDetailTaxCategory: tex
                    AdditionalTaxDetailTaxType: regional
                    AdditionalTaxDetailTaxAmount: 3
                    AdditionalTaxDetailTaxRate: 2.5
                    PurchaseOrder: PURCHSEORDER1
                    OrderDate: 07/20/2018
                    ShippingCharges: "20"
                    DutyCharges: 17.59
                    CustomerVATNumber: "75010101"
                    VATInvoice: 231465214
                    SummaryCommodityCode: Aa94
                    ShipToZip: "50001"
                    ShipFromZip: "55100"
                    DestinationCountryCode: ARG
                    SupplierReferenceNumber: "123"
                    CustomerRefID: "123"
                    ChargeDescriptor: Sample Charge
                    AdditionalAmount: 2.5
                    AdditionalAmountType: GIFT_SHOP
                    ProductName: Product 01
                    ProductCode: P1
                    Price: 5
              Create ACH Sale Request Example:
                value:
                  DeviceGuid: "{{Device}}"
                  Amount: 3.22
                  TenderType: ACH
                  OrderNumber: "12345"
                  RequestIp: 127.0.0.1
                  IncludeRiskAnalysis: false
                  ConnexPayTransaction:
                    ExpectedPayments: 1
                  BankAccount:
                    AccountType: Checking
                    RoutingNumber: "098098098"
                    AccountNumber: "1234567"
                    AccountAndRoutingNumberToken: "{{Use instead of RoutingNumber\
                      \ and AccountNumber}}"
                    NameOnAccount: John Doe
                    Customer:
                      FirstName: John
                      LastName: Doe
                      Phone: "5556128787"
                      City: Spring Park
                      State: MN
                      Country: US
                      Email: test@connexpay.com
                      Address1: 1234 Channel road
                      Address2: ""
                      Zip: "98765"
              "3D Secure Authentication Request Example":
                value:
                  CardDataSource: EMV2
                  Amount: 1
                  OrderNumber: ""
                  CustomerId: ""
                  SendReceipt: false
                  isDelaySaleActivation: false
                  activationDate: ""
                  LabelIds:
                  - 987654638
                  StatementDescription: ""
                  AssociationId: ""
                  ConnexPayTransaction:
                    ExpectedPayments: 0
                  RiskData:
                    ProductType: test
                    ProductItem: test
                    OrderNumber: ""
                    SellerId: ""
                    Email: ""
                    Gender: ""
                    DateOfBirth: ""
                    ProductDesc: ""
                    BillingPhoneNumber: ""
                    BillingAddress1: ""
                    BillingAddress2: ""
                    BillingState: ""
                    BillingCity: ""
                    BillingPostalCode: ""
                    FlightData:
                      Airline: ""
                      DepartureAirport: ""
                      DepartureDate: ""
                      DestinationAirport: ""
                      HoursToDeparture: ""
                      JourneyType: ""
                      Route: ""
                      RouteByCountry: ""
                    FlightPassenger: []
                  Card:
                    CardNumber: "4018810001010010"
                    CardHolderName: Jason Harmon
                    Cvv2: "999"
                    ExpirationDate: "2312"
                    Customer:
                      FirstName: Jason
                      LastName: Harmon
                      Email: ""
                      Address1: ""
                      Address2: ""
                      State: ""
                      City: ""
                      Country: ""
                      Zip: ""
                      Phone: ""
                      SSN4: ""
                  DeviceGuid: e639a1dc-5cc4-43de-ab74-d5bea6c6b107
                  TenderType: Credit
                  BrowserData:
                    AcceptanceHeader: "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8"
                    ColorDepth: 32
                    JavaEnabled: true
                    ScreenHeight: 1000
                    ScreenWidth: 1000
                    TimeZoneOffset: 0
                    Language: en-GB
                    RedirectUrl: https://salesapi.connexpaydev.com/
                    UserAgentHeader: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36\
                      \ (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36"
            schema:
              $ref: '#/components/schemas/SaleCreateTransactionRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Credit Card Sale Response Example:
                  value: "{\n   \"guid\":\"965a67b0-cd0e-4020-973b-5e0d1b4bd6e2\"\
                    ,\n   \"status\":\"Transaction - Approved\",\n   \"type\":\"Default\"\
                    ,\n   \"batchStatus\":\"Batch - Open\",\n   \"timeStamp\":\"2019-11-20T05:37:13.22-05:00\"\
                    ,\n   \"deviceGuid\":\"f758a448-7780-4b50-93a1-28329e37f94f\"\
                    ,\n   \"amount\":280.0,\n   \"activated\": true,\n   \"tenderType\"\
                    :\"Credit\",\n   \"effectiveAmount\":280.0,\n   \"riskResponse\"\
                    :{\n      \"transactionId\":\"73PK0DN43KSZ\",\n      \"response\"\
                    :\"Approved\",\n      \"reason\":\"\",\n      \"score\":\"38\"\
                    ,\n      \"omniscore\": \"63.5\"\n   },\n   \"orderNumber\":\"\
                    159874\",\n   \"cardDataSource\":\"INTERNET\",\n   \"customerID\"\
                    :\"xt147\",\n   \"batchGuid\":\"c71d0ee6-b595-4792-b1ee-1156d28be132\"\
                    ,\n   \"connexPayTransaction\":{\n      \"guid\":\"d6c7e3c3-1cdd-47a1-89b9-368059b85c2c\"\
                    ,\n      \"expectedPayments\":9,\n      \"filler\":\"ZZZ\",\n\
                    \      \"incomingTransCode\":\"09ASECYE48S9KHBQL00028000\"\n \
                    \  },\n   \"riskProcessingOnly\":false,\n   \"processorStatusCode\"\
                    :\"A0000\",\n   \"processorResponseMessage\":\"Success\",\n  \
                    \ \"wasProcessed\":true,\n   \"authCode\":\"TAS698\",\n   \"refNumber\"\
                    :\"21313220\",\n   \"customerReceipt\":\"CONNEXPAY\\\\n8320 S\
                    \ HARDY DRIVE...\\\\n\",\n   \"statementDescription\":\"Agent\
                    \ Booking 123\",\n   \"generatedBy\":\"tcformal1\",\n   \"enhancedData\"\
                    :{\n     \t\"cardLevel\":\"2\"\n      \"saleTax\":5.0,\n     \
                    \ \"purchaseOrder\":\"PURCHSEORDER1\",\n      \"additionalTaxDetailTaxCategory\"\
                    :\"tex\",\n      \"additionalTaxDetailTaxType\":\"regional\",\n\
                    \      \"additionalTaxDetailTaxAmount\":3.0,\n      \"additionalTaxDetailTaxRate\"\
                    :2.5,\n      \"shippingCharges\":20.0,\n      \"dutyCharges\"\
                    :17.59,\n      \"shipToZip\":\"50001\",\n      \"shipFromZip\"\
                    :\"55100\",\n      \"destinationCountryCode\":\"ARG\",\n     \
                    \ \"customerVATNumber\":\"75010101\",\n      \"summaryCommodityCode\"\
                    :\"Aa94\",\n      \"vatInvoice\":\"231465214\",\n      \"orderDate\"\
                    :\"07/20/2018\",\n      \"supplierReferenceNumber\":\"123\",\n\
                    \      \"customerRefID\":\"123\",\n      \"chargeDescriptor\"\
                    :\"Sample Charge\",\n      \"productName\":\"Product 01\",\n \
                    \     \"productCode\":\"P1\",\n      \"price\":5.0,\n      \"\
                    additionalAmount\":2.5,\n      \"additionalAmountType\":\"GIFT_SHOP\"\
                    \n   },\n   \"card\":{\n      \"first4\":\"4716\",\n      \"last4\"\
                    :\"0473\",\n      \"cardNumber\":\"CARD NOT TOKENIZED\",\n   \
                    \   \"cardHolderName\":\"John Doe\",\n      \"cardType\":\"Visa\"\
                    ,\n      \"expirationDate\":\"2019-12\",\n      \"guid\":\"b9b2fcd3-6b35-40a6-a560-6e434ae01068\"\
                    ,\n      \"customer\":{\n         \"guid\":\"3bd93697-005a-4723-a7f8-f892577ee2bf\"\
                    ,\n         \"firstName\":\"John\",\n         \"lastName\":\"\
                    Doe\",\n         \"dateOfBirth\":\"1990-12-07T00:00:00\",\n  \
                    \       \"address1\":\"107 7th Av.\",\n         \"address2\":\"\
                    \",\n         \"zip\":\"10007\",\n         \"city\":\"New York\"\
                    ,\n         \"state\":\"NY\",\n         \"country\":\"US\",\n\
                    \         \"phone\":\"9177563007\",\n         \"email\":\"johnd@gmail.com\"\
                    ,\n         \"ssN4\":\"1210\",\n         \"driverLicenseNumber\"\
                    :\"12345678\",\n         \"driverLicenseState\":\"TX\"\n     \
                    \ }\n   },\n   \"sequenceNumber\":\"849741\",\n   \"addressVerificationCode\"\
                    :\"N\",\n   \"addressVerificationResult\":\"No match. Acquirer\
                    \ sent postal/ZIP code only, or street address only, or both postal/ZIP\
                    \ and street address.\",\n   \"cvvVerificationCode\":\"M\",\n\
                    \   \"cvvVerificationResult\":\"CVV2 Match. Indicates that the\
                    \ Funds Transfer API or the issuer was able to verify the CVV2\
                    \ value provided by the merchant.\",\n}"
                "3DS Frictionless Response Example":
                  value: |-
                    {
                        "guid": "2d78c80e-59c3-44ae-a770-c70dfa550768",
                        "status": "Transaction - Approved",
                        "type": "3D Secure",
                        "batchStatus": "Batch - Open",
                        "timeStamp": "2022-11-29T06:47:52.53-05:00",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.00,
                        "activated": true,
                        "tenderType": "Credit",
                        "effectiveAmount": 1.00,
                        "riskResponse": {
                            "transactionId": null,
                            "response": "Fraud Check Skipped for Finaro Request.",
                            "reason": null,
                            "score": null
                        },
                        "orderNumber": "",
                        "cardDataSource": "INTERNET",
                        "customerID": "",
                        "batchGuid": "c4513dc8-1f49-47c2-b384-6b0897c3734e",
                        "connexPayTransaction": {
                            "guid": "76d224b7-1abc-4fdb-9d0a-9a4b44cebbca",
                            "expectedPayments": 0,
                            "incomingTransCode": "7C9A573638053372540845316"
                        },
                        "associationId": "",
                        "processorStatusCode": "0",
                        "processorResponseMessage": "Transaction has been executed successfully.",
                        "wasProcessed": true,
                        "authCode": "697949",
                        "refNumber": "XZZ01c19f5570e6bDAFUP3DOWVUR5FSB",
                        "customerReceipt": "Not Available",
                        "statementDescription": "",
                        "generatedBy": "jharmonfinaro",
                        "Card": {
                            "ThreeDS": {
                                "SecureCode": "06:3030303030303030303030313130363639393458:none",
                                "Cavv": "MDAwMDAwMDAwMDAxMTA2Njk5NFg=",
                                "Version": "2.1.0",
                                "DirectoryServerTransactionID": "806e85be-8568-4601-a993-654662947afb",
                                "AcsTransactionId": "3afb5c9b-5e06-4e35-9051-e2461d767028",
                                "ECI": "06"
                            },
                            "CardNumber": "4018810000100036",
                            "CardHolderName": "Jason Harmon",
                            "Cvv2": "999",
                            "ExpirationDate": "2312",
                            "Customer": {
                                "FirstName": "Jason",
                                "LastName": "Harmon",
                                "Email": "",
                                "Address1": "",
                                "Address2": "",
                                "State": "",
                                "City": "",
                                "Country": "",
                                "Zip": "",
                                "Phone": "",
                                "SSN4": ""
                            }
                        },
                        "addressVerificationResult": "Unavailable",
                        "cvvVerificationCode": "M",
                        "cvvVerificationResult": "CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.",
                        "cavvResponseCode": "2",
                        "walletProvider": 0,
                        "isFromIssueLite": false,
                        "labelIds": [
                            987654638
                        ],
                        "remainingAmount": 1.00
                    }
              schema:
                $ref: '#/components/schemas/SaleCreateTransactionResponse'
          description: "200"
        "201":
          content:
            application/json:
              examples:
                Create Sale - ACH Response Example:
                  value: |-
                    {
                        "guid": "965a67b0-cd0e-4020-973b-5e0d1b4bd6e2",
                        "status": "Transaction - Approved",
                        "type": "Default",
                        "batchStatus": "Batch - Open",
                        "timeStamp": "2023-05-09T15:33:12.25-04:00",
                        "deviceGuid": "f758a448-7780-4b50-93a1-28329e37f94f",
                        "amount": 1.17,
                        "activated": true,
                        "tenderType": "ACH",
                        "effectiveAmount": 1.17,
                        "purchaseActivationDate": "2023-05-09T00:00:00-04:00",
                        "orderNumber": "ACH Sale Example",
                        "cardDataSource": "INTERNET",
                        "customerID": "CustomerID",
                        "batchGuid": "c71d0ee6-b595-4792-b1ee-1156d28be132",
                        "connexPayTransaction": {
                            "guid": "d6c7e3c3-1cdd-47a1-89b9-368059b85c2c",
                            "expectedPayments": 1,
                            "incomingTransCode": "23D5797638192431927631987"
                        },
                        "riskProcessingOnly": false,
                        "processorStatusCode": "A0000",
                        "processorResponseMessage": "NotYetProcessed",
                        "wasProcessed": true,
                        "refNumber": "LC40FTVWZH",
                        "customerReceipt": "Test\\nTest Minnesota 55111\\n5/9/2023 12:00:00 AM\\n\\nACH - Sale\\n\\nACCT NBR last four # : **** **** **** **** 1111\\nEntry Mode : MANUAL\\n\\nTRANSACTION ID : 63819243192747\\nInvoice number : Sales Test \\nSubtotal:                      $1.17\\n--------------------------------------\\nTotal:                         $1.17\\n--------------------------------------\\n\\n\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n",
                        "statementDescription": "Test",
                        "generatedBy": "Test",
                        "bankAccount": {
                            "guid": "b9b2fcd3-6b35-40a6-a560-6e434ae01068",
                            "accountType": "Checking",
                            "accountNumberLastFour": "1111",
                            "nameOnAccount": "TestName",
                            "customer": {
                                "guid": "3bd93697-005a-4723-a7f8-f892577ee2bf",
                                "firstName": "First Name",
                                "lastName": "Last Name",
                                "dateOfBirth": "2002-05-30T00:00:00",
                                "address1": "1 Main St",
                                "address2": "Apt 1A",
                                "zip": "12345",
                                "city": "Test",
                                "country": "US",
                                "phone": "9998887777",
                                "email": "test@test.com",
                                "ssN4": "1111"
                            }
                        },
                        "sequenceNumber": "123",
                        "addressVerificationResult": "Unavailable",
                        "cvvVerificationResult": "Unavailable",
                        "walletProvider": 0,
                        "includeRiskAnalysis": false,
                        "isFromIssueLite": false,
                        "remainingAmount": 1.17
                    }
              schema:
                $ref: '#/components/schemas/SaleCreateTransaction201Response'
          description: "201"
        "202":
          content:
            application/json:
              examples:
                "3DS Device Fingerprint Response Example":
                  value: |-
                    {
                        "guid": "3a0d533f-588b-4ce4-920f-7bc4641ea8f7",
                        "status": "3DS - Pending Fingerprint",
                        "timeStamp": "2023-08-16T16:44:40.9866697Z",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.34,
                        "version": "2.1.0",
                        "redirectUrl": "https://x3d-sim.credorax.net/acs/3ds-method",
                        "redirectUrlRequestPayload": "threeDSMethodData=eyJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIjoiaHR0cHM6Ly9zYWxlc2FwaS5jb25uZXhwYXlkZXYuY29tL2FwaS92MS8zZHMvY2FsbGJhY2siLCJ0aHJlZURTU2VydmVyVHJhbnNJRCI6ImU2YmNjM2RiLTAwZjQtNDdiZi05OTgwLTljZjE2MTUxOGM5NyJ9",
                        "card": {
                            "first6": "401881",
                            "first4": "4018",
                            "last4": "0010",
                            "cardHolderName": "Jason Harmon",
                            "cardType": "Visa",
                            "expirationDate": "2023-12",
                            "guid": "c6b816a3-f107-40d5-9dc3-bcefc576c8bc"
                        },
                        "exemptThreeDSRequest": false,
                        "exemptThreeDSPayment": false
                    }
                "3DS Cardholder Challenge Response Example":
                  value: |-
                    {
                        "guid": "a41dd8ab-8629-42c0-8a6f-8b9162a93ccc",
                        "status": "3DS - Pending User Challenge",
                        "timeStamp": "2023-08-16T16:45:23.9986814Z",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.34,
                        "threeDSStatus": "C",
                        "directoryServerTransactionID": "72f4afb2-c057-4abc-b054-9fae4b4ceb49",
                        "acsTransactionId": "7c6670d1-d888-4af5-b5f4-db286ba6c20a",
                        "version": "2.1.0",
                        "redirectUrl": "https://x3d-any-int.credorax.net/challenge/request/CONN2978/2534bb4d055f10423709276026df821ff3c8",
                        "card": {
                            "first6": "401881",
                            "first4": "4018",
                            "last4": "0015",
                            "cardHolderName": "Jason Harmon",
                            "cardType": "Visa",
                            "expirationDate": "2023-12",
                            "guid": "2c032f47-f7ab-4849-9715-0b4bacf252a3"
                        },
                        "exemptThreeDSRequest": false,
                        "exemptThreeDSPayment": false
                    }
              schema:
                $ref: '#/components/schemas/SaleCreateTransaction202Response'
          description: "202"
      security:
      - sec0: []
      summary: Create Sale
      tags:
      - Sale
      x-readme:
        code-samples:
        - language: text
          code: "{\n   \"DeviceGuid\":\"{{Device}}\",\n   \"Amount\":280,\n   \"TenderType\"\
            :\"Credit\",\n   \"SequenceNumber\":\"8497421\",\n   \"OrderNumber\":\"\
            12345\",\n   \"ActivationDate\": \"2020-01-01\",\n   \"SendReceipt\":true,\n\
            \   \"RiskProcessingOnly\":false,\n   \"StatementDescription\":\"Agent\
            \ Booking 123\",\n   \"CustomerId\":\"xt147\",\n   \"ConnexPayTransaction\"\
            :{\n      \"ExpectedPayments\":9\n   },\n   \"RiskData\":{\n      \"Name\"\
            :\"John Doe\",\n      \"Gender\":\"M\",\n      \"DateOfBirth\":\"1993-03-18\"\
            ,\n      \"BillingPhoneNumber\":\"9177563046\",\n      \"BillingAddress1\"\
            :\"151 E 33rd St\",\n      \"BillingAddress2\":\"Second Floor\",\n   \
            \   \"BillingCity\":\"New York\",\n      \"BillingState\":\"NY\",\n  \
            \    \"BillingPostalCode\":\"10016\",\n      \"BillingCountryCode\":\"\
            US\",\n      \"Email\":\"johnd@gmail.com\",\n      \"ProductType\":\"\
            Flight\",\n      \"ProductDesc\":\"Flight from London to New York\",\n\
            \      \"ProductItem\":\"784GTWJFK856\",\n      \"ProductQuantity\":4,\n\
            \      \"ProductPrice\":\"42400\",\n      \"OrderNumber\":\"857B2\",\n\
            \      \"SellerId\":\"AG75597\",\n      \"FlightData\":{\n         \"\
            Airline\":\"American Airlines\",\n         \"DepartureAirport\":\"Gatwick\"\
            ,\n         \"DepartureDate\":\"2020-06-30\",\n         \"DestinationAirport\"\
            :\"JFK\",\n         \"HoursToDeparture\":5,\n         \"JourneyType\"\
            :\"Day\",\n         \"Route\":\"Direct\",\n         \"RouteByCountry\"\
            :\"UK, USA\"\n      },\n     \"Card\":{\n      \"CardNumber\":\"4716317307520473\"\
            ,\n      \"CardHolderName\":\"John Doe\",\n      \"Cvv2\":\"999\",\n \
            \     \"ExpirationDate\":\"1912\",\n      \"Customer\":{\n         \"\
            FirstName\":\"John\",\n         \"LastName\":\"Doe\",\n         \"Phone\"\
            :\"9177563007\",\n         \"City\":\"New York\",\n         \"State\"\
            :\"NY\",\n         \"Country\":\"US\",\n         \"Email\":\"johnd@gmail.com\"\
            ,\n         \"Address1\":\"107 7th Av.\",\n         \"Address2\":\"\"\
            ,\n         \"Zip\":\"10007\",\n         \"DateOfBirth\":\"1990-12-07\"\
            ,\n         \"DriverLicenseNumber\":\"12345678\",\n         \"DriverLicenseState\"\
            :\"TX\",\n         \"SSN4\":\"1210\"\n      }\n   \n}"
          name: Create Delayed Activation Sale Request Example
        samples-languages:
        - text
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-sales
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/void:
    post:
      deprecated: false
      description: This endpoint creates a void.
      operationId: Void_createVoid
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Void Request Example:
                value:
                  DeviceGuid: 4b5013f7-b275-4929-8e83-0167c6edf639
                  SaleGuid: c5ac2017-99cb-4b1f-a90e-142cc82b21e5
                  Amount: 20.5
                  SequenceNumber: Sample-seq-1
                  VoidReason: DEVICE_TIMEOUT
              Auth Only Void Request:
                value:
                  DeviceGuid: 884defd8-4f35-466d-b077-482ca6e8ecab
                  AuthOnlyGuid: 44ba0531-d847-489d-ab32-b27a0356d63c
                  VoidReason: DEVICE_TIMEOUT
            schema:
              $ref: '#/components/schemas/VoidCreateVoidRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Void Response Example:
                  value: |-
                    {
                        "guid": "7a4ef786-8288-404d-9340-e837d06784af",
                        "amount": 20.50,
                        "batchStatus": "Batch - Open",
                        "timeStamp": "2017-07-11T11:05:46.31",
                        "deviceGuid": "8f65764d-72c1-4dee-ac9f-4cd4c98e8c35",
                        "saleGuid": "bfff1a26-4207-4871-9597-48282e3fcfea",
                        "status": "Transaction - Approved",
                        "voidReason": "DEVICE_TIMEOUT",
                        "processorStatusCode": "A0000",
                        "wasProcessed": true,
                        "batchGuid": "1564cb1b-eddb-4747-9565-61a7d7d225f9",
                        "authCode": "VTLMC1",
                        "refNumber": "13283644",
                        "invoiceNumber": "11518",
                        "customerReceipt": "SUR TECHNOLOGY HOLDINGS\n8320 S HARDY DRIVE\nTEMPE AZ 85284\n07/11/2017 07:05:50\n\nCREDIT - VOID\n\nCARD # : **** **** **** 0213\nCARD TYPE :MASTERCARD\nEntry Mode : MANUAL\n\nREF # : 13283644\nInvoice number : 11518\n\nVoid Amount:                    $19.74\n--------------------------------------\n\n\n\nJohn Doe\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER`S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n",
                        "sequenceNumber": "Sample-seq-1",
                        "sale": {
                            "guid": "bfff1a26-4207-4871-9597-48282e3fcfea",
                            "status": "Transaction - Approved",
                            "batchStatus": "Batch - Open",
                            "timeStamp": "2017-07-11T11:05:24.65",
                            "deviceGuid": "8f65764d-72c1-4dee-ac9f-4cd4c98e8c35",
                            "amount": 19.74,
                            "effectiveAmount": 0,
                            "orderNumber": "11518",
                            "orderDate": "2017-02-03T00:00:00",
                            "batchGuid": "1564cb1b-eddb-4747-9565-61a7d7d225f9",
                            "processorStatusCode": "A0000",
                            "processorResponseMessage": "Success",
                            "wasProcessed": true,
                            "authCode": "VTLMC1",
                            "refNumber": "13283644",
                            "invoiceNumber": "11518",
                            "customerReceipt": "SUR TECHNOLOGY HOLDINGS\n8320 S HARDY DRIVE\nTEMPE AZ 85284\n07/11/2017 07:05:27\n\nCREDIT - SALE\n\nCARD # : **** **** **** 0213\nCARD TYPE :MASTERCARD\nEntry Mode : MANUAL\n\nREF # : 13283644\nInvoice number : 11518\nAUTH CODE : VTLMC1\nSubtotal:                       $19.74\n--------------------------------------\nTotal:                          $19.74\n--------------------------------------\n\n\n\nJohn Doe\n\nCUSTOMER ACKNOWLEDGES RECEIPT OF\nGOODS AND/OR SERVICES IN THE AMOUNT\nOF THE TOTAL SHOWN HEREON AND AGREES\nTO PERFORM THE OBLIGATIONS SET FORTH\nBY THE CUSTOMER`S AGREEMENT WITH THE\nISSUER\nAPPROVED\n\n\n\n\nCustomer Copy\n",
                            "customData": "order details",
                            "card": {
                                "first4": "5306",
                                "last4": "0213",
                                "cardNumber": "1zcGT7J4pkGh0213",
                                "cardHolderName": "John Doe",
                                "expirationDate": "2019-07",
                                "customer": {
                                    "guid": "d1cf828d-3050-4e4c-b7cf-f4038d114d39",
                                    "firstName": "John",
                                    "lastName": "Doe",
                                    "phone": "9177563007",
                                    "city": "New York",
                                    "country": "US",
                                    "email": "johnd@gmail.com",
                                    "zip": "10007",
                                    "address1": "107 7th Av.",
                                    "address2": "",
                                    "state": "NY",
                                    "dateOfBirth": "1987-07-07T00:00:00",
                                    "driverLicenseNumber": "12345678",
                                    "driverLicenseState": "TX",
                                    "ssN4": "1210"
                                }
                            }
                        }
                    }
              schema:
                $ref: '#/components/schemas/VoidCreateVoidResponse'
          description: "201"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/VoidCreateVoid400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: Void
      tags:
      - Void
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-void
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/returns:
    post:
      deprecated: false
      description: ""
      operationId: Return_itemRequest
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Return Request Example:
                value:
                  guid: 4f31b350-edd1-49fd-a1ad-4b065f78d7b9
                  batchStatus: Batch - Open
                  timeStamp: 2017-07-11T11:10:38.11
                  deviceGuid: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                  saleGuid: ded98ad3-0553-4607-b84c-1bbd85f474d5
                  status: Transaction - Approved
                  amount: 19.74
                  batchGuid: 450463e0-5050-4c33-8c2f-4e39a2dd8614
                  processorStatusCode: A0014
                  wasProcessed: true
                  authCode: VTLMC1
                  refNumber: "13283670"
                  invoiceNumber: "11518"
                  customerReceipt: |
                    SUR TECHNOLOGY HOLDINGS
                    8320 S HARDY DRIVE
                    TEMPE AZ 85284
                    07/11/2017 07:10:42

                    CREDIT - VOID

                    CARD # : **** **** **** 0213
                    CARD TYPE :MASTERCARD
                    Entry Mode : MANUAL

                    REF # : 13283670
                    Invoice number : 11518

                    Void Amount:                    $19.74
                    --------------------------------------



                    John Doe

                    CUSTOMER ACKNOWLEDGES RECEIPT OF
                    GOODS AND/OR SERVICES IN THE AMOUNT
                    OF THE TOTAL SHOWN HEREON AND AGREES
                    TO PERFORM THE OBLIGATIONS SET FORTH
                    BY THE CUSTOMER`S AGREEMENT WITH THE
                    ISSUER
                    APPROVED




                    Customer Copy
                  sequenceNumber: Sample-seq-1
                  sale:
                    guid: ded98ad3-0553-4607-b84c-1bbd85f474d5
                    status: Transaction - Approved
                    batchStatus: Batch - Closed
                    timeStamp: 2017-07-11T11:09:53.5
                    deviceGuid: 8f65764d-72c1-4dee-ac9f-4cd4c98e8c35
                    amount: 19.74
                    effectiveAmount: 0
                    orderNumber: "11518"
                    orderDate: 2017-02-03T00:00:00
                    batchGuid: 1564cb1b-eddb-4747-9565-61a7d7d225f9
                    processorStatusCode: A0000
                    processorResponseMessage: Success
                    wasProcessed: true
                    authCode: VTLMC1
                    refNumber: "13283670"
                    invoiceNumber: "11518"
                    customerReceipt: |
                      SUR TECHNOLOGY HOLDINGS
                      8320 S HARDY DRIVE
                      TEMPE AZ 85284
                      07/11/2017 07:09:56

                      CREDIT - SALE

                      CARD # : **** **** **** 0213
                      CARD TYPE :MASTERCARD
                      Entry Mode : MANUAL

                      REF # : 13283670
                      Invoice number : 11518
                      AUTH CODE : VTLMC1
                      Subtotal:                       $19.74
                      --------------------------------------
                      Total:                          $19.74
                      --------------------------------------



                      John Doe

                      CUSTOMER ACKNOWLEDGES RECEIPT OF
                      GOODS AND/OR SERVICES IN THE AMOUNT
                      OF THE TOTAL SHOWN HEREON AND AGREES
                      TO PERFORM THE OBLIGATIONS SET FORTH
                      BY THE CUSTOMER`S AGREEMENT WITH THE
                      ISSUER
                      APPROVED




                      Customer Copy
                    customData: order details
                    card:
                      first4: "5306"
                      last4: "0213"
                      cardNumber: 1zcGT7J4pkGh0213
                      cardHolderName: John Doe
                      expirationDate: 2019-07
                      customer:
                        guid: d1cf828d-3050-4e4c-b7cf-f4038d114d39
                        firstName: John
                        lastName: Doe
                        phone: "9177563007"
                        city: New York
                        country: US
                        email: johnd@gmail.com
                        zip: "10007"
                        address1: 107 7th Av.
                        address2: ""
                        state: NY
                        dateOfBirth: 1987-07-07T00:00:00
                        driverLicenseNumber: "12345678"
                        driverLicenseState: TX
                        ssN4: "1210"
            schema:
              $ref: '#/components/schemas/ReturnItemRequestRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Return Response Example:
                  value: |-
                    {
                        "guid": "4f31b350-edd1-49fd-a1ad-4b065f78d7b9",
                        "batchStatus": "Batch - Open",
                        "timeStamp": "2017-07-11T11:10:38.11",
                        "deviceGuid": "8f65764d-72c1-4dee-ac9f-4cd4c98e8c35",
                        "saleGuid": "ded98ad3-0553-4607-b84c-1bbd85f474d5",
                        "status": "Transaction - Approved",
                        "amount": 19.74,
                        "batchGuid": "450463e0-5050-4c33-8c2f-4e39a2dd8614",
                        "processorStatusCode": "A0014",
                        "wasProcessed": true,
                        "authCode": "VTLMC1",
                        "refNumber": "13283670",
                        "invoiceNumber": "11518",
                        "customerReceipt": "SUR TECHNOLOGY HOLDINGS\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/11/2017 07:10:42\\n\\nCREDIT - VOID\\n\\nCARD # : **** **** **** 0213\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nREF # : 13283670\\nInvoice number : 11518\\n\\nVoid Amount:                    $19.74\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER’S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n",
                        "sequenceNumber": "Sample-seq-1",
                        "sale": {
                            "guid": "ded98ad3-0553-4607-b84c-1bbd85f474d5",
                            "status": "Transaction - Approved",
                            "batchStatus": "Batch - Closed",
                            "timeStamp": "2017-07-11T11:09:53.5",
                            "deviceGuid": "8f65764d-72c1-4dee-ac9f-4cd4c98e8c35",
                            "amount": 19.74,
                            "effectiveAmount": 0,
                            "orderNumber": "11518",
                            "orderDate": "2017-02-03T00:00:00",
                            "batchGuid": "1564cb1b-eddb-4747-9565-61a7d7d225f9",
                            "processorStatusCode": "A0000",
                            "processorResponseMessage": "Success",
                            "wasProcessed": true,
                            "authCode": "VTLMC1",
                            "refNumber": "13283670",
                            "invoiceNumber": "11518",
                            "customerReceipt": "SUR TECHNOLOGY HOLDINGS\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/11/2017 07:09:56\\n\\nCREDIT - SALE\\n\\nCARD # : **** **** **** 0213\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nREF # : 13283670\\nInvoice number : 11518\\nAUTH CODE : VTLMC1\\nSubtotal:                       $19.74\\n--------------------------------------\\nTotal:                          $19.74\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER’S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n",
                            "customData": "order details",
                            "card": {
                                "first4": "5306",
                                "last4": "0213",
                                "cardNumber": "1zcGT7J4pkGh0213",
                                "cardHolderName": "John Doe",
                                "expirationDate": "2019-07",
                                "customer": {
                                    "guid": "d1cf828d-3050-4e4c-b7cf-f4038d114d39",
                                    "firstName": "John",
                                    "lastName": "Doe",
                                    "phone": "9177563007",
                                    "city": "New York",
                                    "country": "US",
                                    "email": "johnd@gmail.com",
                                    "zip": "10007",
                                    "address1": "107 7th Av.",
                                    "address2": "",
                                    "state": "NY",
                                    "dateOfBirth": "1987-07-07T00:00:00",
                                    "driverLicenseNumber": "12345678",
                                    "driverLicenseState": "TX",
                                    "ssN4": "1210"
                                }
                            }
                        }
                    }
              schema:
                $ref: '#/components/schemas/ReturnItemRequestResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/ReturnItemRequest400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: Return
      tags:
      - Return
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-returns
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/cancel:
    post:
      deprecated: false
      description: "The Cancel route should be used in the event the entire trip/booking\
        \ (sale & purchase) require cancellation. In this case, the traveler/cardholder\
        \ would be due a refund from the sale and the Virtual Card would be terminated\
        \ to prevent the travel supplier from authorizing the Virtual Card."
      operationId: Cancellation_entireTripCancellation
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Cancel Request Example:
                value:
                  DeviceGuid: 4b5013f7-b275-4929-8e83-0167c6edf639
                  SaleGuid: c5ac2017-99cb-4b1f-a90e-142cc82b21e5
                  SequenceNumber: Sample-seq-1
                  VoidReason: DEVICE_TIMEOUT
            schema:
              $ref: '#/components/schemas/CancellationEntireTripCancellationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Cancel Response Example:
                  value: "{\n    \"guid\": \"7a4ef786-8288-404d-9340-e837d06784af\"\
                    ,\n    \"batchStatus\": \"Batch - Open\",\n    \"timeStamp\":\
                    \ \"2017-07-11T11:05:46.31\",\n    \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\"\
                    ,\n    \"saleGuid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\"\
                    ,\n    \"status\": \"Transaction - Approved\",\n    \"voidReason\"\
                    : \"DEVICE_TIMEOUT\",\n    \"processorStatusCode\": \"A0000\"\
                    ,\n    \"wasProcessed\": true,\n    \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\"\
                    ,\n    \"authCode\": \"VTLMC1\",\n    \"refNumber\": \"13283644\"\
                    ,\n    \"invoiceNumber\": \"11518\",\n    \"customerReceipt\"\
                    : \"CONNEXPAY\\\\n8320 S HARDY DRIVE\\\\nTEMPE AZ 85284\\\\n07/11/2017\
                    \ 07:05:50\\\\n\\\\nCREDIT - VOID\\\\n\\\\nCARD # : **** ****\
                    \ **** 0213\\\\nCARD TYPE :MASTERCARD\\\\nEntry Mode : MANUAL\\\
                    \\n\\\\nREF # : 13283644\\\\nInvoice number : 11518\\\\n\\\\nCancel\
                    \ Amount:                    $19.74\\\\n--------------------------------------\\\
                    \\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT\
                    \ OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL\
                    \ SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\
                    \\nBY THE CUSTOMER`S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\
                    \\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n    \"sequenceNumber\"\
                    : \"Sample-seq-1\",\n    \"sale\": {\n        \"guid\": \"bfff1a26-4207-4871-9597-48282e3fcfea\"\
                    ,\n        \"status\": \"Transaction - Approved\",\n        \"\
                    batchStatus\": \"Batch - Open\",\n        \"timeStamp\": \"2017-07-11T11:05:24.65\"\
                    ,\n        \"deviceGuid\": \"8f65764d-72c1-4dee-ac9f-4cd4c98e8c35\"\
                    ,\n        \"amount\": 19.74,\n        \"effectiveAmount\": 0,\n\
                    \        \"orderNumber\": \"11518\",\n        \"orderDate\": \"\
                    2017-02-03T00:00:00\",\n        \"batchGuid\": \"1564cb1b-eddb-4747-9565-61a7d7d225f9\"\
                    ,\n        \"processorStatusCode\": \"A0000\",\n        \"processorResponseMessage\"\
                    : \"Success\",\n        \"wasProcessed\": true,\n        \"authCode\"\
                    : \"VTLMC1\",\n        \"refNumber\": \"13283644\",\n        \"\
                    customerReceipt\": \"CONNEXPAY\\\\n8320 S HARDY DRIVE\\\\nTEMPE\
                    \ AZ 85284\\\\n07/11/2017 07:05:27\\\\n\\\\nCREDIT - SALE\\\\\
                    n\\\\nCARD # : **** **** **** 0213\\\\nCARD TYPE :MASTERCARD\\\
                    \\nEntry Mode : MANUAL\\\\n\\\\nREF # : 13283644\\\\nInvoice number\
                    \ : 11518\\\\nAUTH CODE : VTLMC1\\\\nSubtotal:               \
                    \        $19.74\\\\n--------------------------------------\\\\\
                    nTotal:                          $19.74\\\\n--------------------------------------\\\
                    \\n\\\\n\\\\n\\\\nJohn Doe\\\\n\\\\nCUSTOMER ACKNOWLEDGES RECEIPT\
                    \ OF\\\\nGOODS AND/OR SERVICES IN THE AMOUNT\\\\nOF THE TOTAL\
                    \ SHOWN HEREON AND AGREES\\\\nTO PERFORM THE OBLIGATIONS SET FORTH\\\
                    \\nBY THE CUSTOMER`S AGREEMENT WITH THE\\\\nISSUER\\\\nAPPROVED\\\
                    \\n\\\\n\\\\n\\\\n\\\\nCustomer Copy\\\\n\",\n        \"generatedBy\"\
                    : \"ultralux\",\n        \"card\": {\n            \"first4\":\
                    \ \"5306\",\n            \"last4\": \"0213\",\n            \"\
                    cardNumber\": \"1zcGT7J4pkGh0213\",\n            \"cardHolderName\"\
                    : \"John Doe\",\n            \"expirationDate\": \"2019-07\",\n\
                    \            \"customer\": {\n                \"guid\": \"d1cf828d-3050-4e4c-b7cf-f4038d114d39\"\
                    ,\n                \"firstName\": \"John\",\n                \"\
                    lastName\": \"Doe\",\n                \"phone\": \"9177563007\"\
                    ,\n                \"city\": \"New York\",\n                \"\
                    country\": \"US\",\n                \"email\": \"johnd@gmail.com\"\
                    ,        \n            }\n        }\n        \"addressVerificationCode\"\
                    : \"N\",\n        \"addressVerificationResult\": \"No match. Acquirer\
                    \ sent postal/ZIP code only, or street address only, or both postal/ZIP\
                    \ and street address.\"\n        \"cvvVerificationCode\": \"M\"\
                    ,\n        \"cvvVerificationResult\": \"CVV2 Match. Indicates\
                    \ that the Funds Transfer API or the issuer was able to verify\
                    \ the CVV2 value provided by the merchant.\"\n    }\n}"
              schema:
                $ref: '#/components/schemas/CancellationEntireTripCancellationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/CancellationEntireTripCancellation400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: Cancel
      tags:
      - Cancellation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-cancel
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/authonlys:
    post:
      deprecated: false
      description: "The Auth Only Endpoint is applicable to acquiring clients.  Call\
        \ Auth Only when you want to process an Authorization only, which will not\
        \ settle until it's Captured.  We do not allow you to Capture an Authorization\
        \ after 5 business days have passed.Calling this endpoint will authorize the\
        \ card, however, it will not be settled until the [Capture endpoint](https://docs.connexpay.com/reference/capture)\
        \ is called. Authorizations expire after 5 days."
      operationId: Authentication_acquireClientAuthorization
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Auth Only Request:
                value:
                  DeviceGuid: "{{Device}}"
                  Amount: 280
                  SequenceNumber: "849741"
                  OrderNumber: "1598742342342432342342432432"
                  SendReceipt: true
                  StatementDescription: Agent Booking 123
                  CustomerID: xt147
                  RiskData:
                    Name: John Doe
                    Gender: M
                    DateOfBirth: 1993-03-18
                    BillingPhoneNumber: "9177563046"
                    BillingAddress1: 151 E 33rd St
                    BillingAddress2: Second Floor
                    BillingCity: New York
                    BillingState: NY
                    BillingPostalCode: "10016"
                    BillingCountryCode: US
                    Email: someone@connexpay.com
                    ProductType: Flight
                    ProductDesc: Flight from London to New York
                    ProductItem: 784GTWJFK856
                    ProductQuantity: 4
                    ProductPrice: "42400"
                    OrderNumber: 857B2
                    SellerId: AG75597
                    FlightData:
                      Airline: American Airlines
                      DepartureAirport: Gatwick
                      DepartureDate: 2020-06-30
                      DestinationAirport: JFK
                      HoursToDeparture: 5
                      JourneyType: Day
                      Route: Direct
                      RouteByCountry: "UK, USA"
                    FlightPassengers:
                    - Country: USA
                      DateOfBirth: 1990-12-07
                      Id: "89456489"
                      Name: Adam Smith
                    - Country: ARG
                      DateOfBirth: 1995-05-05
                      Id: "74566"
                      Name: John Lock
                    CustomParameters:
                    - Name: ClientSpecific1
                      Value: Traveling
                    - Name: ClientSpecific2
                      Value: wounderful
                  Card:
                    CardNumber: "5413330089604111"
                    CardHolderName: John Doe
                    Cvv2: "998"
                    ExpirationDate: "1912"
                    Customer:
                      FirstName: John
                      LastName: Doe
                      Phone: "9177563007"
                      City: New York
                      State: NY
                      Country: US
                      Email: johnd@gmail.com
                      Address1: 107 7th Av.
                      Address2: ""
                      Zip: "10007"
                      DateOfBirth: 1990-12-07
                      DriverLicenseNumber: "12345678"
                      DriverLicenseState: TX
                      SSN4: "1210"
                  EnhancedData:
                    SaleTax: "5"
                    AdditionalTaxDetailTaxCategory: tex
                    AdditionalTaxDetailTaxType: regional
                    AdditionalTaxDetailTaxAmount: "3"
                    AdditionalTaxDetailTaxRate: "2.50"
                    PurchaseOrder: PURCHSEORDER1
                    OrderDate: 07/20/2018
                    ShippingCharges: "20"
                    DutyCharges: "17.59"
                    CustomerVATNumber: "75010101"
                    VATInvoice: "231465214"
                    SummaryCommodityCode: Aa94
                    ShipToZip: "50001"
                    ShipFromZip: "55100"
                    DestinationCountryCode: ARG
                    SupplierReferenceNumber: "123"
                    CustomerRefID: "123"
                    ChargeDescriptor: Sample Charge
                    AdditionalAmount: "2.50"
                    AdditionalAmountType: GIFT_SHOP
                    ProductName: Product 01
                    ProductCode: P1
                    Price: "5.00"
            schema:
              $ref: '#/components/schemas/AuthenticationAcquireClientAuthorizationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Auth Only Response:
                  value: |-
                    {
                        "guid": "6d75f588-711e-4481-92ed-1d078b507832",
                        "status": "Transaction - Approved",
                        "batchStatus": "Batch - Open",
                        "timeStamp": "2020-07-09T23:45:58.12+06:00",
                        "amount": 280.00,
                        "effectiveAmount": 280.00,
                        "orderNumber": "1598742342342432342342432432",
                        "deviceGuid": "0b7a9536-9fcd-4074-a841-d47eef77b81b",
                        "cardDataSource": "INTERNET",
                        "customerID": "xt147",
                        "batchGuid": "89133895-142f-4c70-98c7-5194d91bb500",
                        "sendReceipt": true,
                        "allowCardEmv": false,
                        "processorStatusCode": "A0000",
                        "processorResponseMessage": "Success",
                        "wasProcessed": true,
                        "authCode": "VTLMC1",
                        "refNumber": "23159362",
                        "invoiceNumber": "15987423423424323423424",
                        "customerReceipt": "Agent Booking 123\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/09/2020 04:46:01\\n\\nCREDIT - AUTH ONLY\\n\\nCARD # : **** **** **** 4111\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nTRANSACTION ID : 23159362\\nInvoice number : 15987423423424323423424\\nAUTH CODE : VTLMC1\\n--------------------------------------\\nCode         Name\\nQty                Price\\n--------------------------------------\\nP1           Product 01\\n1                  $5.00\\n--------------------------------------\\nSubtotal:                      $234.41\\n--------------------------------------\\nTaxes\\n--------------------------------------\\n[1] Sales Tax                   $05.00\\n[2] regional Tax                $03.00\\n--------------------------------------\\nTotal Taxes:                    $08.00\\n--------------------------------------\\nFees\\n--------------------------------------\\nFee:                            $37.59\\n--------------------------------------\\nTotal Fees:                     $37.59\\n--------------------------------------\\nTotal:                         $280.00\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER`S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n",
                        "statementDescription": "Agent Booking 123",
                        "enhancedData": {
                            "saleTax": 5.00,
                            "purchaseOrder": "PURCHSEORDER1",
                            "additionalTaxDetailTaxCategory": "tex",
                            "additionalTaxDetailTaxType": "regional",
                            "additionalTaxDetailTaxAmount": 3.00,
                            "additionalTaxDetailTaxRate": 2.50,
                            "shippingCharges": 20.00,
                            "dutyCharges": 17.59,
                            "shipToZip": "50001",
                            "shipFromZip": "55100",
                            "destinationCountryCode": "ARG",
                            "customerVATNumber": "75010101",
                            "summaryCommodityCode": "Aa94",
                            "vatInvoice": "231465214",
                            "orderDate": "07/20/2018",
                            "supplierReferenceNumber": "123",
                            "customerRefID": "123",
                            "chargeDescriptor": "Sample Charge",
                            "productName": "Product 01",
                            "productCode": "P1",
                            "price": 5.00,
                            "additionalAmount": 2.50,
                            "additionalAmountType": "GIFT_SHOP"
                        },
                        "card": {
                            "first6": "541333",
                            "first4": "5413",
                            "last4": "4111",
                            "cardHolderName": "John Doe",
                            "cardType": "Mastercard",
                            "expirationDate": "2019-12",
                            "customer": {
                                "guid": "5dd6ed47-3e5b-4123-bc0e-81b32663e8ee",
                                "firstName": "John",
                                "lastName": "Doe",
                                "dateOfBirth": "1990-12-07T00:00:00",
                                "address1": "107 7th Av.",
                                "address2": "",
                                "zip": "10007",
                                "city": "New York",
                                "state": "NY",
                                "country": "US",
                                "phone": "9177563007",
                                "email": "johnd@gmail.com",
                                "ssN4": "1210",
                                "driverLicenseNumber": "12345678",
                                "driverLicenseState": "TX"
                            },
                            "guid": "b34bec7f-6ef0-42d8-8811-1bea8d2260fe"
                        },
                        "addressVerificationCode": "N",
                        "addressVerificationResult": "No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.",
                        "cvvVerificationCode": "M",
                        "cvvVerificationResult": "CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.",
                        "riskResponse": {
                            "transactionId": "DGJK0BBRH2NH",
                            "response": "Approved",
                            "reason": "",
                            "score": "34"
                        },
                        "type": "Default"
                    }
                "3DS Frictionless Response Example":
                  value: |-
                    {
                        "guid": "2d78c80e-59c3-44ae-a770-c70dfa550768",
                        "status": "Transaction - Approved",
                        "type": "3D Secure",
                        "batchStatus": "Batch - Open",
                        "timeStamp": "2022-11-29T06:47:52.53-05:00",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.00,
                        "activated": true,
                        "tenderType": "Credit",
                        "effectiveAmount": 1.00,
                        "riskResponse": {
                            "transactionId": null,
                            "response": "Fraud Check Skipped for Finaro Request.",
                            "reason": null,
                            "score": null
                        },
                        "orderNumber": "",
                        "cardDataSource": "INTERNET",
                        "customerID": "",
                        "batchGuid": "c4513dc8-1f49-47c2-b384-6b0897c3734e",
                        "connexPayTransaction": {
                            "guid": "76d224b7-1abc-4fdb-9d0a-9a4b44cebbca",
                            "expectedPayments": 0,
                            "incomingTransCode": "7C9A573638053372540845316"
                        },
                        "associationId": "",
                        "processorStatusCode": "0",
                        "processorResponseMessage": "Transaction has been executed successfully.",
                        "wasProcessed": true,
                        "authCode": "697949",
                        "refNumber": "XZZ01c19f5570e6bDAFUP3DOWVUR5FSB",
                        "customerReceipt": "Not Available",
                        "statementDescription": "",
                        "generatedBy": "jharmonfinaro",
                        "Card": {
                            "CardNumber": "4018810000100036",
                            "CardHolderName": "Jason Harmon",
                            "Cvv2": "999",
                            "ExpirationDate": "2312",
                            "Customer": {
                                "FirstName": "Jason",
                                "LastName": "Harmon",
                                "Email": "",
                                "Address1": "",
                                "Address2": "",
                                "State": "",
                                "City": "",
                                "Country": "",
                                "Zip": "",
                                "Phone": "",
                                "SSN4": ""
                            }
                        },
                        "addressVerificationResult": "Unavailable",
                        "cvvVerificationCode": "M",
                        "cvvVerificationResult": "CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant.",
                        "cavvResponseCode": "2",
                        "walletProvider": 0,
                        "isFromIssueLite": false,
                        "labelIds": [
                            987654638
                        ],
                        "remainingAmount": 1.00
              schema:
                $ref: '#/components/schemas/AuthenticationAcquireClientAuthorizationResponse'
          description: "200"
        "202":
          content:
            application/json:
              examples:
                "3DS Device Fingerprint Response Example":
                  value: |-
                    {
                        "guid": "92bcd4df-5576-48be-b4a6-8c142669a8b6",
                        "status": "3DS - Pending Fingerprint",
                        "timeStamp": "2022-11-28T19:49:13.7902906Z",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.0,
                        "redirectUrl": "https://x3d-sim.credorax.net/acs/3ds-method",
                        "redirectUrlRequestPayload": "threeDSMethodData=eyJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIjoiaHR0cHM6Ly9zYWxlc2FwaS5jb25uZXhwYXlkZXYuY29tL2FwaS92MS8zZHMvY2FsbGJhY2siLCJ0aHJlZURTU2VydmVyVHJhbnNJRCI6ImI5M2MzODkyLTFiMjItNDFlOS1iZmE3LTdkNTMzNzYzMTExMiJ9",
                        "card": {
                            "first6": "401881",
                            "first4": "4018",
                            "last4": "0010",
                            "cardHolderName": "Jason Harmon",
                            "cardType": "Visa",
                            "expirationDate": "2023-12",
                            "guid": "704f6c0b-1da4-4687-9a43-fdd4c46bb69b"
                        }
                    }
                "3DS Cardholder Challenge Response Example":
                  value: |-
                    {
                        "guid": "92bcd4df-5576-48be-b4a6-8c142669a8b6",
                        "status": "3DS - Pending User Challenge",
                        "timeStamp": "2022-11-28T19:49:13.7902906Z",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.0,
                        "redirectUrl": "https://x3d-sim.credorax.net/acs/3ds-method",
                        "card": {
                            "first6": "401881",
                            "first4": "4018",
                            "last4": "0010",
                            "cardHolderName": "Jason Harmon",
                            "cardType": "Visa",
                            "expirationDate": "2023-12",
                            "guid": "704f6c0b-1da4-4687-9a43-fdd4c46bb69b"
                        }
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationAcquireClientAuthorization202Response'
          description: "202"
      security:
      - sec0: []
      summary: Auth Only
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-authonlys
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/Captures:
    post:
      deprecated: false
      description: Call this endpoint to Capture an Authorization so that it settles
      operationId: Transaction_captureAuthorization
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Create Capture Request Example:
                value:
                  DeviceGuid: "{{Device}}"
                  AuthOnlyGuid: "{{AuthOnlyGuid}}"
                  OrderNumber: A1234
                  CustomerID: R2D2-C3PO
                  SequenceNumber: capture5
                  ConnexpayTransaction:
                    ExpectedPayments: 5
            schema:
              $ref: '#/components/schemas/TransactionCaptureAuthorizationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Create Capture Response Example:
                  value: |-
                    {
                        "guid": "5669a85c-d1a4-43ac-b799-8bc7f4ffb509",
                        "sale": {
                            "guid": "52785a8e-9616-4e1c-b01d-365a99b256b0",
                            "status": "Transaction - Approved",
                            "type": "Default",
                            "batchStatus": "Batch - Open",
                            "timeStamp": "2020-07-12T21:58:00.15+06:00",
                            "deviceGuid": "0b7a9536-9fcd-4074-a841-d47eef77b81b",
                            "amount": 10.00,
                            "activated": true,
                            "tenderType": "Credit",
                            "effectiveAmount": 10.00,
                            "riskResponse": {
                                "transactionId": "DGG80N33TZTR",
                                "response": "Approved",
                                "reason": "",
                                "score": "34"
                            },
                            "orderNumber": "159874",
                            "cardDataSource": "INTERNET",
                            "customerID": "xt147",
                            "batchGuid": "5a80016c-d96f-4339-8e84-47aaf7aff2fd",
                            "connexPayTransaction": {
                                "guid": "9eb92a4c-2cd2-4ffa-9959-498aae8a7279",
                                "expectedPayments": 5,
                                "incomingTransCode": "B549C92637301662802350529"
                            },
                            "processorStatusCode": "A0000",
                            "processorResponseMessage": "Success",
                            "wasProcessed": true,
                            "authCode": "VTLMC1",
                            "refNumber": "23181066",
                            "customerReceipt": "Agent Booking 123\\n8320 S HARDY DRIVE\\nTEMPE AZ 85284\\n07/12/2020 02:57:57\\n\\nCREDIT - SALE\\n\\nCARD # : **** **** **** 4111\\nCARD TYPE :MASTERCARD\\nEntry Mode : MANUAL\\n\\nTRANSACTION ID : 23181066\\nInvoice number : 159874\\nAUTH CODE : VTLMC1\\nSubtotal:                       $10.00\\n--------------------------------------\\nTotal:                          $10.00\\n--------------------------------------\\n\\n\\n\\nJohn Doe\\n\\nCUSTOMER ACKNOWLEDGES RECEIPT OF\\nGOODS AND/OR SERVICES IN THE AMOUNT\\nOF THE TOTAL SHOWN HEREON AND AGREES\\nTO PERFORM THE OBLIGATIONS SET FORTH\\nBY THE CUSTOMER'S AGREEMENT WITH THE\\nISSUER\\nAPPROVED\\n\\n\\n\\n\\nCustomer Copy\\n",
                            "statementDescription": "Agent Booking 123",
                            "generatedBy": "rrmerchant",
                            "card": {
                                "first6": "541333",
                                "first4": "5413",
                                "last4": "4111",
                                "cardHolderName": "John Doe",
                                "cardType": "Mastercard",
                                "expirationDate": "2019-12",
                                "customer": {
                                    "guid": "20fbe746-21c5-4325-b307-c46765061efe",
                                    "firstName": "John",
                                    "lastName": "Doe",
                                    "dateOfBirth": "1990-12-07T00:00:00",
                                    "address1": "107 7th Av.",
                                    "address2": "",
                                    "zip": "10007",
                                    "city": "New York",
                                    "state": "NY",
                                    "country": "US",
                                    "phone": "9177563007",
                                    "email": "johnd@gmail.com",
                                    "ssN4": "1210",
                                    "driverLicenseNumber": "12345678",
                                    "driverLicenseState": "TX"
                                },
                                "guid": "fb0377b7-d6d2-4e61-b30a-f590f39b2ea8"
                            },
                            "addressVerificationCode": "N",
                            "addressVerificationResult": "No match. Acquirer sent postal/ZIP code only, or street address only, or both postal/ZIP and street address.",
                            "cvvVerificationCode": "M",
                            "cvvVerificationResult": "CVV2 Match. Indicates that the Funds Transfer API or the issuer was able to verify the CVV2 value provided by the merchant."
                        }
                    }
              schema:
                $ref: '#/components/schemas/TransactionCaptureAuthorizationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/TransactionCaptureAuthorization400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: Capture
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-Captures
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/verify:
    post:
      deprecated: false
      description: Call to Verify Card or Bank Account
      operationId: Verification_cardBankAccount
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              Verify Card Request Example:
                value:
                  DeviceGuid: "{{Device}}"
                  Card:
                    CardNumber: "4111111111111111"
                    CardHolderName: John Verify
                    Cvv2: "999"
                    ExpirationDate: "2212"
                    Customer:
                      FirstName: John
                      LastName: Verify
                      Phone: "9177563051"
                      City: New York
                      State: NY
                      Country: US
                      Email: JohnVerify@test.com
                      Address1: 111 11th Av.
                      Address2: ""
                      Zip: "10011"
                      DateOfBirth: 1991-11-11
                      DriverLicenseNumber: "12345678"
                      DriverLicenseState: TX
                      SSN4: "1210"
              Verify Bank Account Request Example:
                value:
                  DeviceGuid: "{{Device}}"
                  BankAccount:
                    AccountType: Checking
                    RoutingNumber: "042000314"
                    AccountNumber: "222333"
                    NameOnAccount: PR
                    Customer:
                      FirstName: Ping
                      LastName: VerifyTest
            schema:
              $ref: '#/components/schemas/VerificationCardBankAccountRequest'
      responses:
        "201":
          content:
            application/json:
              examples:
                Verify Card Response Example:
                  value: |-
                    {
                        "guid": "9a72c29f-cc89-495c-a2b7-e25faeb850ac",
                        "status": "Transaction - Approved",
                        "timeStamp": "2022-10-26T09:56:43.07-05:00",
                        "deviceGuid": "0b7a9536-9fcd-4074-a841-d47eef77b81b",
                        "card": {
                            "first6": "411111",
                            "first4": "4111",
                            "last4": "1111",
                            "cardHolderName": "John Verify",
                            "cardType": "Visa",
                            "expirationDate": "2022-12",
                            "guid": "0ca56348-fa53-4ef0-87b0-3b3a096a629b",
                            "customer": {
                                "guid": "c5bf2c6f-3da9-4199-ba84-44208d61efad",
                                "firstName": "John",
                                "lastName": "Verify",
                                "dateOfBirth": "1991-11-11T00:00:00",
                                "address1": "111 11th Av.",
                                "address2": "",
                                "zip": "10011",
                                "city": "New York",
                                "country": "US",
                                "phone": "9177563051",
                                "email": "JohnVerify@test.com",
                                "ssN4": "1210",
                                "driverLicenseNumber": "12345678"
                            }
                        },
                        "addressVerificationCode": "N",
                        "cvvVerificationCode": "M",
                        "processorStatusCode": "A0000",
                        "wasProcessed": true
                    }
                Verify Bank Account Response Example:
                  value: |-
                    {
                        "guid": "08d690d1-c7db-40db-9057-08877fa2e117",
                        "status": "Transaction - Approved",
                        "timeStamp": "2022-10-26T09:48:59.14-05:00",
                        "deviceGuid": "0b7a9536-9fcd-4074-a841-d47eef77b81b",
                        "bankAccount": {
                            "guid": "df65d7ef-0f21-4df6-bca0-c56cc0416229",
                            "accountType": "Checking",
                            "accountNumberLastFour": "2333",
                            "nameOnAccount": "PR",
                            "customer": {
                                "guid": "50fe7902-d3e4-4da2-a015-e847ffadd297",
                                "firstName": "Ping",
                                "lastName": "VerifyTest"
                            },
                            "accountAndRoutingNumberToken": "c64giUcZ/gscrJI+r4HSHxs5pUZgk51WIHdIUhcN8WGlPncRcfcWFegqw6n/ZOLViIObEye4kAub8cfP3CCNCv4JZw28vKirJj1SI4sa6N89/RRPSCql4oIS8kxZ9dBdfBbld2znQhrGR80ToS9GiTMcxyFKIt3anSWqZue07CYweaAK/TpE1AJdbCL/CFNyEQQLxy3KgaQoEEa4/MFW7qENJmjqc3uqM3D5BvqwhSxQhyL8ozaRxfSd2f5GB6ipAJgxH5snpuLGi0QAFjdJwHWeh4G21EAUhjqdVsiYjpo/5zWmoZ3mq8Y5j3gXZgutxyaqEsb1QvD/McDvs+0GXA=="
                        },
                        "processorStatusCode": "A1",
                        "wasProcessed": true
                    }
              schema:
                $ref: '#/components/schemas/VerificationCardBankAccountResponse'
          description: "201"
      security:
      - sec0: []
      summary: Verify
      tags:
      - Verification
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-verify
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/3ds:
    post:
      deprecated: false
      description: This endpoint can be used for obtaining 3D Secure Authentication
        separate from the Create Sale or Auth-Only calls.  This is recommended for
        our US and CA clients.
      operationId: Authentication_obtain3dSecureAuthentication
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationObtain3DSecureAuthenticationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                "3DS Frictionless Response Example":
                  value: "{\n    \"guid\": \"74fb35e7-3b41-427a-969b-1fc42a35fb11\"\
                    ,\n    \"status\": \"3DS - Approved\",\n    \"timeStamp\": \"\
                    2023-08-16T16:40:29.6401705Z\",\n    \"deviceGuid\": \"e639a1dc-5cc4-43de-ab74-d5bea6c6b107\"\
                    ,\n    \"amount\": 0.0,\n    \"threeDSStatus\": \"Y\",\n    \"\
                    SecureData\": \"06:3030303030303030303030313130363639393458:none\"\
                    ,\n    \"Cavv\": \"MDAwMDAwMDAwMDAxMTA2Njk5NFg=\",\n    \"Version\"\
                    : \"2.1.0\",\n    \"DirectoryServerTransactionID\": \"5066e271-4752-4445-a025-235c7789c151\"\
                    ,\n    \"AcsTransactionId\": \"09a291d3-92b5-4354-b31a-5446409444f3\"\
                    ,\n    \"ECI\": \"06\",\n    \"card\": {      \n        \"first6\"\
                    : \"401881\",\n        \"first4\": \"4018\",\n        \"last4\"\
                    : \"0036\",\n        \"cardHolderName\": \"Jason Harmon\",\n \
                    \       \"cardType\": \"Visa\",\n        \"expirationDate\": \"\
                    2023-12\",\n        \"guid\": \"c3398555-e4c0-43da-b3ca-6abc475b79b9\"\
                    \n    },\n    \"exemptThreeDSRequest\": false,\n    \"exemptThreeDSPayment\"\
                    : false\n}"
              schema:
                $ref: '#/components/schemas/AuthenticationObtain3DSecureAuthenticationResponse'
          description: "200"
        "202":
          content:
            application/json:
              examples:
                "3DS Device Fingerprint Response Example":
                  value: |-
                    {
                        "guid": "3a0d533f-588b-4ce4-920f-7bc4641ea8f7",
                        "status": "3DS - Pending Fingerprint",
                        "timeStamp": "2023-08-16T16:44:40.9866697Z",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.34,
                        "version": "2.1.0",
                        "redirectUrl": "https://x3d-sim.credorax.net/acs/3ds-method",
                        "redirectUrlRequestPayload": "threeDSMethodData=eyJ0aHJlZURTTWV0aG9kTm90aWZpY2F0aW9uVVJMIjoiaHR0cHM6Ly9zYWxlc2FwaS5jb25uZXhwYXlkZXYuY29tL2FwaS92MS8zZHMvY2FsbGJhY2siLCJ0aHJlZURTU2VydmVyVHJhbnNJRCI6ImU2YmNjM2RiLTAwZjQtNDdiZi05OTgwLTljZjE2MTUxOGM5NyJ9",
                        "card": {
                            "first6": "401881",
                            "first4": "4018",
                            "last4": "0010",
                            "cardHolderName": "Jason Harmon",
                            "cardType": "Visa",
                            "expirationDate": "2023-12",
                            "guid": "c6b816a3-f107-40d5-9dc3-bcefc576c8bc"
                        },
                        "exemptThreeDSRequest": false,
                        "exemptThreeDSPayment": false
                    }
                "3DS Cardholder Challenge Response Example":
                  value: |-
                    {
                        "guid": "a41dd8ab-8629-42c0-8a6f-8b9162a93ccc",
                        "status": "3DS - Pending User Challenge",
                        "timeStamp": "2023-08-16T16:45:23.9986814Z",
                        "deviceGuid": "e639a1dc-5cc4-43de-ab74-d5bea6c6b107",
                        "amount": 1.34,
                        "threeDSStatus": "C",
                        "directoryServerTransactionID": "72f4afb2-c057-4abc-b054-9fae4b4ceb49",
                        "acsTransactionId": "7c6670d1-d888-4af5-b5f4-db286ba6c20a",
                        "version": "2.1.0",
                        "redirectUrl": "https://x3d-any-int.credorax.net/challenge/request/CONN2978/2534bb4d055f10423709276026df821ff3c8",
                        "card": {
                            "first6": "401881",
                            "first4": "4018",
                            "last4": "0015",
                            "cardHolderName": "Jason Harmon",
                            "cardType": "Visa",
                            "expirationDate": "2023-12",
                            "guid": "2c032f47-f7ab-4849-9715-0b4bacf252a3"
                        },
                        "exemptThreeDSRequest": false,
                        "exemptThreeDSPayment": false
                    }
              schema:
                $ref: '#/components/schemas/AuthenticationObtain3DSecureAuthentication202Response'
          description: "202"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: ""
              schema:
                $ref: '#/components/schemas/AuthenticationObtain3DSecureAuthentication400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: 3DS Authentication
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-3ds
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/3ds/{GUID}:
    get:
      deprecated: false
      description: This endpoint returns the 3D Secure status of an authentication
        when a device fingerprint and/or cardholder challenge are required for 3D
        Secure Authentication.
      operationId: StatusGroup_3dsAuthenticationStatus
      parameters:
      - description: Replace the original guid value with the guid that was returned
          with the status response indicating a device fingerprint or cardholder challenge
          is required to complete 3DS authentication..
        explode: false
        in: path
        name: guid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Get 3DS Status Response Example:
                  value: "{\n    \"guid\": \"34f3ae17-89c4-4bc8-b085-f46eef5af3d6\"\
                    ,\n    \"status\": \"3DS - Approved\",\n    \"timeStamp\": \"\
                    2022-12-07T14:50:18.33\",\n    \"deviceGuid\": \"e639a1dc-5cc4-43de-ab74-d5bea6c6b107\"\
                    ,\n    \"amount\": 11.35,\n    \"secureData\": \"05:0099010281111100000000788400707000000000:none\"\
                    ,\n    \"eci\": \"05\",\n    \"cavv\": \"AJkBAoEREQAAAAB4hABwcAAAAAA=\"\
                    ,\n    \"directoryServerTransactionID\": \"a52b6caa-d58e-4d72-8007-bf026acebecc\"\
                    ,\n    \"acsTransactionId\": \"7c6670d1-d888-4af5-b5f4-db286ba6c20a\"\
                    ,  \n    \"version\": \"2.1.0\",\n    \"card\": {\n        \"\
                    first6\": \"401881\",\n        \"first4\": \"4018\",\n       \
                    \ \"last4\": \"0010\",\n        \"cardType\": \"Visa\",\n    \
                    \    \"expirationDate\": \"2025-12\",\n        \"guid\": \"da25f77e-758a-4729-ade6-37fbbcb4675c\"\
                    \n    },\n    \"processorResponseCode\": \"0\",\n    \"processorMessage\"\
                    : \"Transaction has been executed successfully.\"\n}"
              schema:
                $ref: '#/components/schemas/StatusGroup3DsAuthenticationStatusResponse'
          description: "200"
      security:
      - sec0: []
      summary: Get 3DS Status Group
      tags:
      - StatusGroup
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--api-v1-3ds-GUID
      x-accepts: application/json
  /api/v1/sales/UpdateFutureSale:
    post:
      deprecated: false
      description: Updates the sale amount or activation date on a delayed activation
        sale.
      operationId: Sale_updateDelayedActivation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleUpdateDelayedActivationRequest'
      responses:
        "200":
          content:
            application/json:
              examples:
                Update Delayed Sale Response Example:
                  value: "{\n       \"guid\":\"965a67b0-cd0e-4020-973b-5e0d1b4bd6e2\"\
                    ,\n       \"status\":\"Transaction - Approved\",\n       \"type\"\
                    :\"Default\",\n       \"batchStatus\":\"Batch - Open\",\n    \
                    \   \"timeStamp\":\"2019-11-20T05:37:13.22-05:00\",\n       \"\
                    deviceGuid\":\"f758a448-7780-4b50-93a1-28329e37f94f\",\n     \
                    \  \"amount\":280.0,\n       \"activationDate\":\"2020-10-12T00:00:00\"\
                    ,\n       \"activated\":false,       \n       \"tenderType\":\"\
                    Credit\",\n       \"effectiveAmount\":280.0,\n       \"orderNumber\"\
                    :\"159874\",\n       \"cardDataSource\":\"INTERNET\",\n      \
                    \ \"customerID\":\"xt147\",\n       \"batchGuid\":\"c71d0ee6-b595-4792-b1ee-1156d28be132\"\
                    ,\n       \"riskProcessingOnly\":false,\n       \"processorStatusCode\"\
                    :\"A0000\",\n       \"processorResponseMessage\":\"Success\",\n\
                    \       \"wasProcessed\":true,\n       \"generatedBy\":\"tcformal1\"\
                    ,\n       \"card\":{\n          \"first4\":\"4716\",\n       \
                    \   \"last4\":\"0473\",\n          \"cardNumber\":\"CARD NOT TOKENIZED\"\
                    ,\n          \"cardHolderName\":\"John Doe\",\n          \"cardType\"\
                    :\"Visa\",\n          \"expirationDate\":\"2019-12\",\n      \
                    \ },\n       \"sequenceNumber\":\"849741\",\n       \"addressVerificationResult\"\
                    :\"No match. Acquirer sent postal/ZIP code only, or street address\
                    \ only, or both postal/ZIP and street address.\",\n       \"cvvVerificationCode\"\
                    :\"M\",\n       \"cvvVerificationResult\":\"CVV2 Match. Indicates\
                    \ that the Funds Transfer API or the issuer was able to verify\
                    \ the CVV2 value provided by the merchant.\"\n       \"incomingTransactionCode\"\
                    :\"09ASECYE48S9KHBQL00028000\"\n    }"
              schema:
                $ref: '#/components/schemas/SaleUpdateDelayedActivationResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SaleUpdateDelayedActivation400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: Update Delayed Sale
      tags:
      - Sale
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--api-v1-sales-UpdateFutureSale
      x-content-type: application/json
      x-accepts: application/json
  /api/v1/sales/Activate/{SaleGuid}:
    put:
      deprecated: false
      description: |-
        Activate a delayed activation sale independent of the activation date for which the sale was created.

        A client can "Activate" a delayed activation sale this way at any time before ConnexPay will automatically activate it during the early hours of the supplied future date.
      operationId: Sale_activateDelayed
      parameters:
      - description: The sale guid returned upon initial creation of the delayed activation
          sale.
        explode: false
        in: path
        name: SaleGuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SaleActivateDelayedResponse'
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                $ref: '#/components/schemas/SaleActivateDelayed400Response'
          description: "400"
          x-do-not-generate: true
      security:
      - sec0: []
      summary: Activate Delayed Sale
      tags:
      - Sale
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--api-v1-sales-Activate-SaleGuid
      x-accepts: application/json
  /api/v1/Search/Sales/{exportable}/{pageNumber}/{pageSize}:
    post:
      deprecated: false
[...]
